#jogo{
    width:603px;
    height:600px;
    border:solid 3px;
    background-color: burlywood;
    
}


.linha{
    height:200px;
    border-bottom:solid 1px;
}

.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
